<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 well">
                <form action="/home/vieworders">
                    <input type="text" placeholder="From Date" name="fromDate" class="form-control"/>
                    <br/>
                    <input type="text" placeholder="To Date" name="toDate" class="form-control" />
                    <br />
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
